
PacoteDownload/Condominio/Error.log
PacoteDownload/Condominio/Escolar/exemplo.exe
PacoteDownload/Condominio/Escolar/teste.exe
PacoteDownload/Condominio/MFOXPLUS.OVL
PacoteDownload/Condominio/sca.exe
PacoteDownload/Condominio/path.txt
